* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header {
    overflow: hidden;
    margin: auto;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    /*background-color: yellow;*/
    overflow: hidden;
    /*font-size: 25px;*/
}

.menu {
    float: right;
    margin: 0;
    padding-right: 2rem;
    margin-top: 12px;

}

li {
    float: left;
    margin-right: 15px;
}

li a {
    color: black;
    font-size: 25px;
}

.logo {
    float: left;
    color:#D6000D;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;

}

#loguin {
    background-color: #D6000D;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    color: white;
}
.orçamento{
    display: inline-block;
}
.orçamento img{
    width: 200px;
}

#cl {
    color: white;
}

.orçamento {
    display: flex;
    position: relative;
    margin-top: 70px;
    margin-left: 45%;
}

.img1 {
    width: 200px;
    float: left;
    /*display: flex;*/
    /*position: absolute;
    right: 50%;
    top: 50%;*/
}

.img1 img {
    
    /*position: absolute;
    right: 50%;*/
}

.texto {
    
    float:right;
    position: absolute;

}